body {
    background-color: #FAFAFA;
}

.col-lg-12 {
    padding-top: 20px;
    margin-top: 10px;
    background-color: #ff6666;
    -webkit-box-shadow: 0px 0px 12px 5px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 0px 12px 5px rgba(0,0,0,0.25);
    box-shadow: 0px 0px 12px 5px rgba(0,0,0,0.25);
}

.thumbnail {
    padding: 0;
    border: 0;
    overflow: hidden;
    -webkit-box-shadow: 5px 5px 15px -1px rgba(51,51,3,0.65);
    -moz-box-shadow: 5px 5px 15px -1px rgba(51,51,3,0.65);
    box-shadow: 5px 5px 15px -1px rgba(51,51,3,0.65);
}

a {
    color: black;
}

a:hover {
    color: hotpink;
    text-decoration: none;
}

.col-md-3 a:hover {
    color: lime;
    text-decoration: none;
}

@media screen and (min-width: 1200px) {
  .bricklayer-column-sizer {
    /* divide by 3. */
    width: 33.3%;
  }
}
